:root{
  --Dark-blue-dark-blue-300: #0A3871;
  --Ligth-Background: #F3F5FC;

}

body{
  background-color: #F3F5FC;
}

.logo{
  height: 30px;
}

.apresentar{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.apresenta__botoes{
display: flex;
flex-direction: column;
}

.caixa__texto{
  border: solid 0.1px;
  width: 300px;
  border-radius: 8px;
  font-size: 1.25rem;
  border-color: var(--Dark-blue-dark-blue-300) ;
  background-color: var(--Ligth-Background);
  resize: none;
}

.apresenta__caixaTexto{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

button{
  display: flex;
  gap: 8px;
  justify-content: center;
  border-radius: 8px;
  padding: 16px 24px;
  width: 200px;
  font-size: 15px;
  border: none;
  margin-top: 0.5rem;
}

.botao__cript{
  background: #1875E8;
  color: #ffffff;
}

.botao__decript{
  border-radius: 8px;
  background: #F3F5FC;
  color: #1875E8;
  border: solid 1px #1875E8;
}

@media(max-width: 1200px){
  .apresentar{
    flex-direction: column;
    gap: 5px;
  }
}